body{
	margin:0;
	font-family: sans-serif;
}

img{
	width:100%;
}

a.button {
	padding: 6px;
	border: 1px solid green;
	border-radius: 3px;  
	text-decoration: none;
	background: green;
	color: #fff;
	margin-bottom: 10px;
} 

main{
	margin:15px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.item {
	flex-basis: 50%;
	box-sizing: border-box;
	padding:15px;
}